<h1>New vote</h1>

<% form_for([@event,@vote]) do |f| %>
  <%= f.error_messages %>

<%= 
   select_tag "vote[curryhouse_ids][]", options_from_collection_for_select(Curryhouse.find(:all), "id", "title"), :multiple => true
%>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', event_votes_path(@event) %>
